@model OnlineShop.Models.Products
@{
    ViewData["Title"] = "Create";
}
<br />
<h3 class="text-info">Add New Product</h3>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <p style="color:red; text-align:left;"><b>@ViewBag.SearchMessage</b></p>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" placeholder="Enter Product Name" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Price"></label>
            </div>
            <div class="col-5">
                <input asp-for="Price" class="form-control" placeholder="Enter Price" />
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Image"></label>
            </div>
            <div class="col-5">
                <input asp-for="Image" class="" placeholder="Chose Product Image" type="file" />
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductColor"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductColor" class="form-control" placeholder="Enter color" />
            </div>
            <span asp-validation-for="ProductColor" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductTypeId"></label>
            </div>
            <div class="col-5">
                <select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-control"></select>
                @*<input asp-for="ProductTypeId" class="form-control" placeholder="Enter Product Type" />*@
            </div>
            <span asp-validation-for="ProductTypeId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SpecialTagId"></label>
            </div>
            <div class="col-5">
                @*<input asp-for="SpecialTagId" class="form-control" placeholder="Enter Tag Name" />*@
                <select asp-for="SpecialTagId" asp-items="ViewBag.TagId" class="form-control"></select>

            </div>
            <span asp-validation-for="SpecialTagId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="IsAvaiable"></label>
            </div>
            <div class="col-5">
                <input asp-for="IsAvaiable" type="checkbox" />
            </div>
            <span asp-validation-for="IsAvaiable" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="save" />
            <a asp-action="Index" class="btn btn-success">Back To List</a>
        </div>
    </div>
</form>
@section Scripts{
    @{await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial.cshtml");}
}